[submodule "sdk"]
	path = sdk
	url = https://github.com/Enthusiastic-Coder/sdk.git
[submodule "android_openssl"]
	path = android_openssl
	url = https://github.com/KDAB/android_openssl.git
[submodule "qtstomp"]
	path = qtstomp
url=https://github.com/Enthusiastic-Coder/qtstomp.git
[submodule "assimp2"]
	path = assimp2
	url = https://github.com/Enthusiastic-Coder/assimp2.git
[submodule "osmtiles"]
	path = osmtiles
url=https://github.com/Enthusiastic-Coder/osmtiles.git