TFLTracker.pro.user
TrainTracker.pro.user
TFLTracker.pro.user.686643c
.obj/
Debug/
.vs/
.moc/
.qmake.stash
TFLTracker.vcxproj.filters
TFLTracker.vcxproj.user
.rcc/
downloads/
TFLTracker.pro.user.255759b
x64/
TFLTracker.qtvscr
scripts/__obbs/
android/bus/
android/dims/
android/models/
android/osmtiles/
android/raw_osm/
android/tfl_meta/
android/train_routes/
android/network_rail/
