[submodule "sdk"]
	path = sdk
	url = git@bitbucket.org:MOJ_JEB/sdk.git
[submodule "android_openssl"]
	path = android_openssl
	url = https://github.com/KDAB/android_openssl.git
[submodule "qtstomp"]
	path = qtstomp
	url = git@bitbucket.org:MOJ_JEB/qtstomp.git
[submodule "assimp2"]
	path = assimp2
	url = git@bitbucket.org:MOJ_JEB/assimp2.git
[submodule "osmtiles"]
	path = osmtiles
	url = git@bitbucket.org:MOJ_JEB/osmtiles.git
